@font-face{
fx-font-family: 'Roboto';

}
#btnLoginWelcome{
-fx-background-color: #27AE60
-fx-font-family 'Roboto';
-fx-font-style: normal;
-fx-font-weight: normal;
-fx-font-size: 14px;
-fx-line-height: 20px;
-fx-display: flex;
-fx-align-items: center;
-fx-text-align: center;
-fx-text-fill:  #ECF0F1;
}


#btnRegisterWelcome{
-fx-background-color: #27AE60
-fx-font-family 'Roboto';
-fx-font-style: normal;
-fx-font-weight: normal;
-fx-font-size: 14px;
-fx-line-height: 20px;
-fx-display: flex;
-fx-align-items: center;
-fx-text-align: center;
-fx-text-fill:  #ECF0F1;
}

#welcomeText{
-fx-font-family: Roboto;
-fx-font-style: normal;
-fx-font-weight: normal;
-fx-font-size: 48px;
-fx-line-height: 20px;
-fx-display: flex;
-fx-align-items: center;
-fx-text-align: center;
-fx-color: #000000;
-fx-effect: dropshadow(three-pass-box, gray, 10, 0, 0, 0);
}
